body{
    background: #352f5b;
}

.container{
    max-width: 400px;
}

input[type="text"],
input[type="text"]:focus{
    color: #fff;
    border: none;
    max-width: 400px;
    background: rgba(0, 0, 0, 0.2);
}

.todos li{
    background: #423a6f;
}

.todos li:hover{
    background: #7369b0;

}

.todos li i{
    padding-left: 2px
}

.delete{
    cursor: pointer;
}

.filtered{
    display: none !important;
}